<header>
    
      <title>adminDashboard</title>
    
  </header>
  
  <body>
    <div class="container">

        <input  name="name" type="file" accept="*.png.jpg" (change)="upload($event)"> 

        <form (ngSubmit)="OnSubmit(productEntryForm.value)" #productEntryForm="ngForm" >
      
          <label for="fname">Product Name</label>
          <input type="text" ngModel id="fname" name="product_name" >
      
          <label for="lname">Product Price</label>
          <input type="text" ngModel id="lname" name="product_price">
      
          <label for="country">Product Description</label>
          <textarea id="subject" ngModel name="product_description" placeholder="Write something.." style="height:200px"></textarea>

          <label for="country">Product Discount</label>
          <input type="text" ngModel id="lname" name="product_discount">
          
      
      
          <input type="submit" value="Submit">
      
        </form>

      </div>
  </body>
  