<header>
    
  <title>
    HOME
  </title>
 
</header>
<!-- nav bar  -->
<!-- Navbar -->
<div class="sidebar-nav">

<div class="navbar navbar-light bg-white fixed-top">

    <div class="container">

        <!-- Mobile Menu Toggle Button -->

        <button class="navbar-toggler"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">

            <span class="navbar-toggler-icon" style="color: black;" ></span>

        </button>



        <!-- Menus List -->

        <div class="bg-light offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

          <div class="offcanvas-body">

                <ul class="navbar-nav">

                    <li><a href="#" [routerLink]="['/login']"> <span class="item-text "> Login </span></a></li>

                    <li><a href="#" [routerLink]="['/register']"><span class="item-text">Register</span></a></li>

                    <li><a href="#" [routerLink]="['/adminlogin']"><span class="item-text">Admin Login</span></a></li>



                </ul>

          </div>

        </div>

       

       

        <div class="btn-group d-flex" >

          
           <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          >  <span class="input-group-text border-0" id="search-addon" > <i class="fas fa-search"></i>  </span>
          
         
            <a style="margin-left: 30px;" href="#" [routerLink]="['/shop-cart']" class="text-black text-decoration-none"> <span class="lg-text me-3"> <i class="fas fa-shopping-cart"></i> </span> </a>

            <a href="#" class="text-black text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">

              <span class="text-uppercase"> <i class="fas fa-user-alt"></i> </span>
              

              

            </a>

            <ul class="bg-light  dropdown-menu dropdown-menu-end">
            

                <li><hr class="dropdown-divider"></li>

                <li><button class="dropdown-item" type="button">Sign out</button></li>

            </ul>

        </div>



    </div>

</div>



<!-- end of nav bar -->

<div class="body bg-light">
<br><br><br><br>

    <!-- card start  -->


<div class="container">
  <div class="row g-2">
    <ng-container *ngFor='let data of data; let i = index;' >
      <div class="card col-lg-3 col-md-4 col-sm-6  " (click) = "Product_view(i)">
        <img src="{{image_location}}{{data.product_image_location}}" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{data.product_name}}</h2>
          <h3 class="card-text">  {{data.product_price}} <span class="text-danger">({{data.product_discount}}% off)</span> </h3>
          <h4 style="display:block;text-overflow: ellipsis;width: 270px;overflow: hidden; white-space: nowrap;"> {{data.product_description}}  </h4>
          
        </div>
      </div>
    </ng-container>
  </div>
</div> 




  <!-- card end  -->
</div>
 
</div>



